<div class="offcanvas offcanvas-start shadow" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasId" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Select what you want</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group shadow-sm">
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/imgQuran.png" alt="">
        <a routerLink="/holy_quran" data-bs-dismiss="offcanvas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page" class="nav-link " style="display:block;">The Holy Quran</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/najulBalaga.webp" alt="">
        <a href="" class="nav-link">Books</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
         <img class="listImg me-2 shadow" src="assets/images/nimazTime.jpeg" alt="">
        <a href="" class="nav-link">Taqeebat e Namaz</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/nimaz.jpeg" alt="">
        <a href="" class="nav-link">Namaz</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/dua.jpeg" alt="">
        <a href="" class="nav-link">Duas</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/ya_abass_as.jpeg" alt="">
        <a href="" class="nav-link">Ziyaraat</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/yaNabi.jpeg" alt="">
        <a href="" class="nav-link">Aamal</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/hossein-bagheri-Yu2OrTQUEoc-unsplash.jpg" alt="">
        <a href="" class="nav-link">Munajaat</a></li>  
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/RezaShrine.jpeg" alt="">
        <a href="" class="nav-link">Al-Baqeyaat Al-Saalehaat</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/Imam_Hossein(993)-Karbobala.jpeg" alt="">
        <a href="" class="nav-link">Journey to Paradise</a></li>
      <li class="list-group-item d-flex list-group-item-action align-items-center">
        <img class="listImg me-2 shadow" src="assets/images/Imam_Ali_Mosque_by_tasnimnews.com09.jpg" alt="">
        <a href="" class="nav-link">Al Sahifa Al Sajjadiyah</a></li>
    </ul>
  </div>
</div>